.general-section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--fst-text-color);
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .general-section-title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}