:root {
    --bgc-main-tittle: #2F303A;
    --bgc-blocks:#F5F5F5; 
    --bgc-header:#FFFFFF;
    --bgc-team: #F5F4FA;
    --bgc-footer: #2F303A;
    --fst-text-color: #212121;
    --snd-text-color: #757575;
    --special-color: #2196F3;
    --social-icon-color: #AFB1B8;
    --footer-social-icon-color: #2F303A;
    --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --button-hover-color: #188CE8;
}
